<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome To My Demo Server</h1>
    <p>
      <strong>API Endpoint:</strong> https://expressjs-rest-api-without-database.onrender.com/users
    </p>
    <ul>
      <li><strong>GET:</strong> To get all the users.</li>
      <li><strong>GET a User:</strong> To get a single user. Example: https://expressjs-rest-api-without-database.onrender.com/users/<strong>{id}</strong></li>
      <li><strong>POST:</strong> To create a new user. Send the data in the body using the application/x-www-form-urlencoded format.</li>
      <li><strong>PUT:</strong> To Update a user. Example: https://expressjs-rest-api-without-database.onrender.com/users/<strong>{id}</strong></li>
      <li><strong>Delete:</strong> Delete a User. Example: https://expressjs-rest-api-without-database.onrender.com/users/<strong>{id}</strong></li>
    </ul>


    </p>
  </body>
</html>
